main {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  border-right: 2px solid #ccc;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.589);
  flex-direction: column;
}

.map-container {
  flex: 4;
  height: 100%;
}

ul {
  list-style: none;
}

li {
  padding: 10px 0;
}

.user-guide h1 {
  text-decoration: underline;
}
