<main>
  <section class="sidebar">
    <div class="user-guide">
      <h1>User Guide</h1>
      <p>
        Choose a parking by slot click on it to book the time you wanna use it. A slot number is given to you,
        this slot number will be needed when leaving the parking bay<br /><br />
        For VIPs one should have a VIP code to book into VIP slots which would be vacant.<br /><br />
        Reserved slots are for on campus residents.
      </p>
    </div>
    <br /><br />
    <div class="legend">
      <fieldset>
        <legend>Legend</legend>
        <ul>
          <li class="vacant-slots">
            <div class="vacant-slot-icon"></div> Vacant Slots
          </li>
          <li class="occupied-slots">
            <div class="occupied-slot-icon"></div> Occupied Slots
          </li>
          <li class="reserved-slots">
            <div class="reserved-slot-icon"></div> Reserved Slots
          </li>
          <li class="vip-slots">
            <div class="vip-slot-icon"></div> VIP Slots
          </li>
        </ul>
      </fieldset>
    </div>
    <br /><br />
    <div class="back-to-home">
      <a routerLink="/home" class="btn btn-outline-primary">Back To Homepage</a>
    </div>
  </section>
  <div id="map" class="map-container" #map></div>
</main>
