main {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  border-right: 2px solid #ccc;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.589);
  flex-direction: column;
}

.map-container {
  flex: 4;
  height: 100%;
}

.user-guide h1 {
  text-decoration: underline;
}

.attrTable {
  width: 20%;
  background-color: azure;
  z-index: 100000 !important;
  position: absolute;
  top: 20%;
  left: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.table-wrap,
.table,
.tableCommands {
  width: 100%;
}

.thead {
  text-align: center;
}

.tableCommands {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
