<main>
  <section class="sidebar">
    <div class="user-guide">
      <h1>User Guide</h1>
      <p>
        Choose a parking by slot click on it to book the time you wanna use it. A slot number is given to you,
        this slot number will be needed when leaving the parking bay<br /><br />
        For VIPs one should have a VIP code to book into VIP slots which would be vacant.<br /><br />
        Reserved slots are for on campus residents.
      </p>
    </div>
    <br /><br />
    <div class="legend">
      <fieldset>
        <legend>Legend</legend>
        <ul>
          <li class="vacant-slots">Vacant Slots</li>
          <li class="occupied-slots">Occupied Slots</li>
          <li class="reserved-slots">Reserved Slots</li>
          <li class="vip-slots">VIP Slots</li>
        </ul>
      </fieldset>
    </div>
    <br /><br />
    <div class="back-to-home">
      <a routerLink="/home" class="btn btn-outline-primary">Back To Homepage</a>
    </div>
  </section>
  <section id="map" class="map"></section>
</main>
