main {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  border-right: 2px solid #ccc;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.589);
  flex-direction: column;
  justify-content: space-evenly;
}

.content-panel {
  flex: 4;
}

.map-container {
  height: 100%;
}

.admin-tools {
  display: flex;
  flex-direction: column;
}

.admin-tools button {
  margin: 10px 5px;
}

.logout {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.attrTable {
  width: 35%;
  background-color: azure;
  z-index: 100000 !important;
  position: absolute;
  top: 20%;
  right: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.table-wrap,
.table,
.tableCommands {
  width: 100%;
}

.thead {
  text-align: center;
  margin-top: 20px;
}

.tableCommands {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
}

.tbodyContent {
  text-align: center;
}
