<main>
  <section class="sidebar">
    <div class="legend">
      <fieldset>
        <legend>Legend</legend>
        <ul>
          <li class="vacant-slots">
            <div class="vacant-slot-icon"></div> Vacant Slots
          </li>
          <li class="occupied-slots">
            <div class="occupied-slot-icon"></div> Occupied Slots
          </li>
          <li class="reserved-slots">
            <div class="reserved-slot-icon"></div> Reserved Slots
          </li>
          <li class="vip-slots">
            <div class="vip-slot-icon"></div> VIP Slots
          </li>
        </ul>
      </fieldset>
    </div>
    <br />
    <div class="admin-tools">
      <button class="btn btn-outline-primary" (click)="onAllSlotsVIP()">Make All Slots VIP</button>
      <button class="btn btn-outline-primary" (click)="onReserveAllSlots()">Reserve All Slots</button>
      <button class="btn btn-outline-primary" (click)="onAllSlotsVacant()">Make All Slots Vacant</button>
    </div>
    <div class="logout">
      <button class="btn btn-outline-primary" (click)="onLogout()">Log Out</button>
    </div>
  </section>
  <section class="content-panel">
    <div id="map" class="map-container" #map></div>
    <div #attrTable class="attrTable hide">
      <div class="dialog">
        <div class="heading">
          <h3>Attribute Table</h3>
        </div>
        <div class="table-wrap">
          <table class="table">
            <thead class="thead">
              <tr>
                <th>Attribute</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody #tbodyContent class="tbodyContent"></tbody>
          </table>
        </div>
        <div class="tableCommands">
          <button class="btn-outline-primary w-45" (click)="vaccantSlot()">Make Vaccant</button>
          <button class="btn-outline-primary w-45" (click)="vipSlot()">Make VIP</button>
          <button class="btn-outline-primary w-45" (click)="occupySlot()">Occupied</button>
          <button class="btn-outline-primary w-45" (click)="reserveSlot()">Reserve</button>
          <button class="btn-outline-danger w-45" (click)="closeAttrTable()">Close</button>
        </div>
      </div>
    </div>
  </section>
</main>
