/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.btn-outline-primary {
  padding: 10px;
  color: #007bff !important;
  background-color: #ffffff !important;
  border: 1px solid #007bff !important;
  border-radius: 5px;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #007bff !important;
  transition: 1s all ease;
  cursor: pointer;
}

.btn-outline-danger {
  padding: 10px;
  color: #ff0000 !important;
  background-color: #ffffff !important;
  border: 1px solid #ff0000 !important;
  border-radius: 5px;
}

.btn-outline-danger:hover {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  transition: 1s all ease;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  padding: 10px 0;
}

.vacant-slots,
.occupied-slots,
.vip-slots,
.reserved-slots {
  display: flex;
  flex-direction: row;
}

.vacant-slot-icon {
  border: 2px solid #008000;
  background-color: rgba(0, 128, 0, 0.4);
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.occupied-slot-icon {
  border: 2px solid #008000;
  background-color: rgba(128, 0, 128, 0.4);
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.vip-slot-icon {
  border: 2px solid #008000;
  background-color: rgba(255, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.reserved-slot-icon {
  border: 2px solid #008000;
  background-color: rgba(0, 0, 255, 0.4);
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.w-25 {
  width: 25%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.hide {
  visibility: hidden;
  display: none;
}
