<main>
  <section class="welcome-contents">
    <div class="text-center">
      <h1 class=" lead text-justify-center p-3">
        Welcome to MSU Parking, where identifying a parking spot for your
        vehicle has been made easy.
      </h1>
    </div>
    <div class="choice-links">
      <span><a routerLink="/parkingslots" routerLinkActive="active" class="btn btn-outline-primary">Find
          Parking Spot</a></span>
      <span><a routerLink="/login" routerLinkActive="active" class=" btn btn-outline-primary">Login</a></span>
    </div>
  </section>
</main>
